[Unit]
Description=Forgejo Git Service
After=network.target

[Service]
Type=simple
User=%u
WorkingDirectory=/mnt/data/srv/forgejo
ExecStart=/mnt/data/srv/forgejo/forgejo-bin web --config /mnt/data/srv/forgejo/app.ini
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target

